			<!-- top-area Start -->
			<div class="top-area">
				<div class="header-area">
					<!-- Start Navigation -->
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <!-- Start Top Search -->
						<div class="top-search">
							<div class="container">
								<form action="{% url 'search_results' %}" method="get" id="search-form">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-search"></i></span>
										<input type="text" name="q" class="form-control" placeholder="Search" id="search-input" required>
										<span class="input-group-addon close-search" id="close-search"><i class="fa fa-times"></i></span>
									</div>
								</form>
							</div>
						</div>
				        <!-- End Top Search -->

				        <div class="container">            
				            <!-- Start Atribute Navigation -->
				            <div class="attr-nav">
								<ul>
									<li class="search">
										<a href="#"><span class="lnr lnr-magnifier"></span></a>
									</li><!--/.search-->
							
									<li class="nav-logging">
										{% if user.is_authenticated %}
											<!-- Si el usuario está autenticado, lo llevamos al panel de usuario -->
											<a href="{% url 'panel_usuario' %}">
												<span class="lnr lnr-user"></span>
											</a>
										{% else %}
											<!-- Si el usuario no está autenticado, lo llevamos al login -->
											<a href="{% url 'login' %}">
												<span class="lnr lnr-user"></span>
											</a>
										{% endif %}
									</li><!--/.nav-logging-->
							
									<li class="dropdown">
										<a href="{% url 'ver_carrito' %}" class="dropdown-toggle" data-toggle="dropdown">
											<span class="lnr lnr-cart"></span>
										</a>        
									</li><!--/.dropdown-->
								</ul>
							</div><!--/.attr-nav-->
							

				            <!-- Start Header Navigation -->
				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href="{% url 'inicio' %}">Dunder<span>Tifflin</span></a>

				            </div><!--/.navbar-header-->
				            <!-- End Header Navigation -->

				            <!-- Collect the nav links, forms, and other content for toggling -->
				            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
				                <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
				                    <li class="active"><a href="{% url 'inicio' %}">Inicio</a></li>
				                    <li class="active"><a href="{% url 'catalogo' %}">Catálogo</a></li>
				                    <li class="active"><a href="{% url 'contacto' %}">Contáctanos</a></li>
				                </ul><!--/.nav -->
				            </div><!-- /.navbar-collapse -->
				        </div><!--/.container-->
				    </nav><!--/nav-->
				    <!-- End Navigation -->
				</div><!--/.header-area-->
			    <div class="clearfix"></div>

			</div><!-- /.top-area-->
			<!-- top-area End -->
			<script>
				// Constantes de escucha
				const searchInput = document.getElementById('search-input');
				const searchForm = document.getElementById('search-form');
				const closeSearchIcon = document.getElementById('close-search');
			
				// Buscar al darle al ENTER
				searchInput.addEventListener('keydown', function(event) {
					if (event.key === 'Enter') {
						event.preventDefault();
						searchForm.submit();
					}
				});
			
				// Al clickar la X se borra lo escrito
				closeSearchIcon.addEventListener('click', function() {
					searchInput.value = '';
				});
			</script>
