{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Dunder Tifflin</title>
      <!-- Bootstrap Styles -->
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
      <!-- FontAwesome Styles -->
      <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
      <!-- Morris Chart Styles -->
      <link href="{% static 'js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
      <!-- Custom Styles -->
      <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
      <!-- Google Fonts -->
      <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
      <!-- Bootstrap Switch Styles -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-switch@3.4.0/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
   </head>
   <body>
      <div id="wrapper">
         <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">Binary admin</a> 
            </div>
            <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
               Último acceso: {{ user.last_login|date:"d M Y H:i" }} &nbsp; 
               <a href="{% url 'inicio' %}" class="btn btn-danger square-btn-adjust">Logout</a>
            </div>
         </nav>
         <!-- /. NAV TOP  -->
         <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
               <ul class="nav" id="main-menu">
                  <li class="text-center">
                     <img src="{% static 'img/find_user.png' %}" class="user-image img-responsive" />
                  </li>
                  <li>
                     <a href="{% url 'panel_usuario' %}"><i class="fa fa-dashboard fa-3x"></i> Información General </a>
                 </li>
                 <li>
                     <a href="{% url 'panel_usuario_pedidos' %}"><i class="fa fa-desktop fa-3x"></i> Gestión de los pedidos </a>
                 </li>
                 <li>
                     <a href="{% url 'panel_usuario_pagos' %}"><i class="fa fa-qrcode fa-3x"></i> Gestión de Pagos </a>
                 </li>
                 <li>
                     <a href="#"><i class="fa fa-sitemap fa-3x"></i> Gestión de Administrador<span class="fa arrow"></span></a>
                     <ul class="nav nav-second-level">
                         <li>
                             <a href="{% url 'panel_administracion_productos' %}">Administrar Productos</a>
                         </li>
                         <li>
                             <a href="{% url 'panel_administracion_usuarios' %}">Administrar Usuario</a>
                         </li>
                         <li>
                             <a href="{% url 'panel_administracion_pagos' %}">Administrar Pagos</a>
                         </li>
                         <li>
                             <a href="{% url 'panel_administracion_pedidos' %}">Administrar Pedidos</a>
                         </li>
                     </ul>
                 </li>
               </ul>
            </div>
         </nav>
         <!-- /. NAV SIDE  -->
         <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Bienvenido de nuevo</h2>
                        <h5>Bienvenido, {{ user.first_name }} {{ user.last_name }}. ¡Nos alegra verte de nuevo!</h5>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tabla de Usuarios
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>Nombre</th>
                                                <th>Apellidos</th>
                                                <th>Email</th>
                                                <th>Fecha de Creación</th>
                                                <th>Fecha de Última Modificación</th>
                                                <th>Es Staff</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for usuario in usuarios %}
                                            <tr class="odd gradeX">
                                                <td>{{ usuario.id }}</td>
                                                <td>{{ usuario.username }}</td>
                                                <td>{{ usuario.first_name }}</td> 
                                                <td>{{ usuario.last_name }}</td>  
                                                <td>{{ usuario.email }}</td>
                                                <td>{{ usuario.date_joined|date:"d M Y" }}</td>
                                                <td>{{ usuario.last_login|date:"d M Y H:i" }}</td>
                                                <td>
                                                    {% if usuario.is_staff %}
                                                    Sí
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <!-- Botón para abrir el modal de modificar -->
                                                    <button class="btn btn-warning" data-toggle="modal" data-target="#modalModificar" 
                                                            data-id="{{ usuario.id }}" 
                                                            data-username="{{ usuario.username }}" 
                                                            data-email="{{ usuario.email }}" 
                                                            data-first-name="{{ usuario.first_name }}" 
                                                            data-last-name="{{ usuario.last_name }}" 
                                                            data-is-staff="{{ usuario.is_staff }}">
                                                        Modificar
                                                    </button>
                                                    <!-- Botón para abrir el modal de eliminar -->
                                                    <button class="btn btn-danger" data-toggle="modal" data-target="#modalEliminar" 
                                                            data-id="{{ usuario.id }}" 
                                                            data-username="{{ usuario.username }}">
                                                        Eliminar
                                                    </button>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="9" class="text-center">No hay usuarios disponibles</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- End Advanced Tables -->
                    </div>
                </div>
                <hr />
            </div>
        </div>
        
      </div>
      <!-- Modal de Modificación -->
      <div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="modalModificarLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modalModificarLabel">Modificar Usuario</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form id="formModificar" method="POST">
                     {% csrf_token %}
                     <input type="hidden" id="usuario_id" name="usuario_id"> <!-- Aquí se asigna dinámicamente el ID del usuario -->
                     <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" readonly>
                     </div>
                     <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name">
                     </div>
                     <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name">
                     </div>
                     <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                     </div>
                     <div class="form-group">
                        <label for="is_staff">Es administrador</label>
                        <input type="checkbox" id="is_staff" name="is_staff" data-toggle="switch" data-on-text="Sí" data-off-text="No">
                     </div>
                     <button type="submit" class="btn btn-primary">Guardar cambios</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal de Eliminación -->
      <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modalEliminarLabel">Eliminar Usuario</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <p>¿Estás seguro de que deseas eliminar a este usuario?</p>
                  <button type="button" class="btn btn-danger" id="btnEliminar">Eliminar</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
               </div>
            </div>
         </div>
      </div>
      <!-- Scripts -->
      <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap-switch@3.4.0/dist/js/bootstrap-switch.min.js"></script>
      <script>
 // Asignar los datos del usuario al abrir el modal de modificar
 $('#modalModificar').on('show.bs.modal', function(event) {
   var button = $(event.relatedTarget);  // Botón que abre el modal
   var usuarioId = button.data('id');  // Extraer el ID del usuario
   var usuarioUsername = button.data('username');  // Extraer el username
   var usuarioEmail = button.data('email');  // Extraer el email
   var usuarioFirstName = button.data('first-name');  // Extraer el nombre
   var usuarioLastName = button.data('last-name');  // Extraer el apellido
   var usuarioIsStaff = button.data('is-staff');  // Extraer el valor de is_staff (cadena 'true' o 'false')

   // Asignar los valores al formulario
   $('#usuario_id').val(usuarioId);
   $('#username').val(usuarioUsername);  // El username es solo de lectura
   $('#email').val(usuarioEmail);
   $('#first_name').val(usuarioFirstName);
   $('#last_name').val(usuarioLastName);

   // Inicializar el slider correctamente
   if (usuarioIsStaff === "true") {
       $('#is_staff').bootstrapSwitch('state', true);  // Activar el slider (Sí)
   } else {
       $('#is_staff').bootstrapSwitch('state', false);  // Desactivar el slider (No)
   }
});

        
         // Enviar los datos modificados al servidor con AJAX
         $('#formModificar').on('submit', function(event) {
             event.preventDefault();  // Evitar el comportamiento por defecto del formulario (recargar la página)
             
             var formData = $(this).serialize();  // Serializar los datos del formulario
             var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();  // Obtener el token CSRF
             
             // Realizar la solicitud AJAX para actualizar los datos del usuario
             $.ajax({
                 url: '/usuario/modificar_usuario/',  // URL para actualizar el usuario
                 type: 'POST',
                 data: formData + '&csrfmiddlewaretoken=' + csrfToken,  // Incluir el token CSRF
                 success: function(response) {
                     if (response.success) {
                         $('#modalModificar').modal('hide');  // Cerrar el modal
                         location.reload();  // Recargar la página para reflejar el cambio
                     } else {
                         console.log('Error al actualizar el usuario');
                     }
                 },
                 error: function() {
                     console.log('Error al enviar los datos');
                 }
             });
         });
     
         // Asignar el ID del usuario al hacer clic en el botón de eliminar
         $('#modalEliminar').on('show.bs.modal', function(event) {
             var button = $(event.relatedTarget);  // Botón que abre el modal
             var usuarioId = button.data('id');  // Extraer el ID del usuario
             var usuarioUsername = button.data('username');  // Extraer el nombre de usuario si necesitas mostrarlo
             
             // Asignar el ID del usuario al botón de eliminación dentro del modal
             $('#btnEliminar').data('id', usuarioId);  // Asignamos el ID del usuario al botón
             
             // Si necesitas, puedes mostrar el nombre de usuario en el modal también
             $('#modalEliminarLabel').text('Eliminar usuario: ' + usuarioUsername);
         });
     
         // Enviar la solicitud AJAX para eliminar el usuario cuando se haga clic en el botón de eliminar
         $('#btnEliminar').on('click', function() {
             var usuarioId = $(this).data('id');  // Obtener el ID del usuario
             var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();  // Obtener el token CSRF
             
             // Realizar la solicitud AJAX para eliminar el usuario
             $.ajax({
                 url: '/usuario/eliminar_usuario/' + usuarioId + '/',  // URL para eliminar el usuario
                 type: 'POST',
                 data: {
                     'csrfmiddlewaretoken': csrfToken  // Pasar el token CSRF
                 },
                 success: function(response) {
                     if (response.success) {
                         $('#modalEliminar').modal('hide');  // Cerrar el modal
                         location.reload();  // Recargar la página para reflejar el cambio
                     } else {
                         console.log('Error al eliminar el usuario');
                     }
                 },
                 error: function() {
                     console.log('Error al eliminar el usuario');
                 }
             });
         });
     </script>     
   </body>
</html>
