{% load static i18n %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'registro/css/style.css' %}">
  <title>Formulario Registro</title>
</head>
<body>
  <section class="form-register">
    <h4>Formulario Registro</h4>

    {% if messages %}
      <ul>
        {% for message in messages %}
          <li class="alert {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}

      <p>Estoy de acuerdo con <a href="#">Términos y Condiciones</a></p>
      
      <input class="botons" type="submit" value="Registrar">
    </form>

    <p><a href="{% url 'login' %}">¿Ya tengo Cuenta?</a></p>
  </section>
</body>
</html>
